
<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile2.jpeg" %>
    </div>

    <div id="content">
        <h1>Oi, meu nome é Wagner Trindade</h1>
        <p>Bem-vindo a este blog feito em Ruby on Rails.</p>
        <p>Fiz este blog com objetivo principal de estudar e praticar Ruby on Rails, e futuramente utilizar e aprimorar este modelo de blog para fazer um blog real.</p>
        <p>Segue abaixo os meus contatos e também mais informações sobre este blog:</p>
        <ul>
            <li><a href="https://github.com/wtrindades/blogRails" target="_blank">Link deste blog no Github</a></li>
            <li><a href="https://github.com/wtrindades/" target="_blank">Meu Github</a></li>
            <li><a href="https://br.linkedin.com/in/wagner-trindade-sanseverino-2592279a" target="_blank">Meu LinkedIn</a></li>
            <li><a href="mailto:wtrindades@hotmail.com">Meu E-mail</a></li>
        </ul>
    </div>
</div>